@import "../../style/variables.scss";

.post_author_container {
  width: 100%;
  color: $nord6;
  letter-spacing: 0.02em;
  cursor: pointer;
  .post_author_name {
    font-size: 0.9em;
    font-family: $font-black;
  }
  .post_author_date {
    margin-left: 8px;
    font-size: 0.8em;
    font-family: $font-regular;
    opacity: 0.5;
    transition: 100ms ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }
}
