.post_author_container {
  position: absolute;
  top: 0px;
  left: -74px;
  height: 100%;
  .author_avatar_container {
    border-radius: 5px;
    height: 64px;
    width: 64px;
    top: 0px;
    position: sticky;
    overflow: hidden;
    cursor: pointer;
    .author_avatar {
      height: 64px;
      width: 64px;
    }
  }
}
