@import "../../style/variables.scss";

.square_button {
  border: none;
  cursor: pointer;
  transition: 150ms ease-in-out;
  &:hover {
    filter: brightness(1.2);
  }
  &.small {
  }
  &.medium {
  }
  &.large {
    font-family: $font-medium;
    padding: 0.3em 1em;
    font-size: 1.1em;
  }
}
