@import "../../style/nord.scss";

.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms ease-in-out;
  .modal {
    animation: hideModal 250ms ease-in-out;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: transparentize($color: $nord0, $amount: 0.2);
  }
  &.visible {
    opacity: 1;
    pointer-events: all;
    .modal {
      animation: showModal 250ms ease-in-out;
    }
  }
}

@keyframes showModal {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes hideModal {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}
