@import "../../style/nord.scss";

.svg {
  height: 32px;
  width: 32px;
  animation: anim_rotate 1.25s linear infinite;
  stroke-width: 10px;

  .animated_circle {
    stroke: $nord8;
    fill: transparent;
    stroke-dashoffset: 20;
    animation: anim_expand 0.75s ease-in-out alternate infinite;
  }
  .circle {
    stroke: $nord1;
    fill: transparent;
  }
}

@keyframes anim_expand {
  0% {
    stroke-dasharray: 45 250;
  }
  100% {
    stroke-dasharray: 100 250;
  }
}

@keyframes anim_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
