@import "../../style/variables.scss";

.post_type_selector_container {
  position: absolute;
  top: 0px;
  right: -44px;
  display: grid;
  grid-template-rows: auto;
  gap: 2px;
  .single_post_type {
    display: grid;
    place-items: center;
    width: 44px;
    height: 44px;
    background-color: $nord2;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    opacity: 0.5;
    transition: 200ms ease-in-out;
    .text {
      font-family: $font-medium;
      color: $nord4;
      user-select: none;
      .latin {
        line-height: 0px;
        font-size: 1.4em;
      }
    }
    .image {
      height: 20px;
    }
    &.selected {
      opacity: 1;
    }
    &:not(.selected) {
      &:hover {
        opacity: 0.75;
      }
    }
  }
}
