@import "../../style/variables.scss";

.textarea_container {
  width: 100%;
  position: relative;
  > .bar {
    transition: 150ms ease-in-out;
    width: 0%;
    background-color: $nord4;
    opacity: 0;
    height: 5px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    > .bar_text {
      right: 0px;
      bottom: -1.5em;
      font-size: 0.7em;
      background-color: inherit;
      font-family: "NotoSansJP-Bold";
      position: absolute;
      padding: 0.2em 0.5em;
      box-sizing: border-box;
      color: $nord0;
    }
  }
}
